
{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<style>
  img{
  height:750px;
  }
  .carousel-caption {
  background-color: rgba(0,0,0,0.5)
  }

</style>


  <div class="carousel-inner">
    {% for i in data %}
    <div class="carousel-item active">
      <img src="{{i.image.url}}"
           class="d-block w-100" alt="{{i.title}}">
<!--      <div class="carousel-caption d-none d-md-block"-->
<!--        <h5>{{i.title}}</h5>-->
<!--        <p>{{i.description}}</p>-->
<!--      </div>-->
<!--    </div>-->
    {% endfor %}

  </div>


{% endblock %}